{% extends 'tracksite/base.html' %}

{% block title %}<title>youTrack - Error</title>{% endblock %}

{% block stylesheets %}
    {% if user.is_authenticated %}
        {% load staticfiles %}
        <link rel="stylesheet" href={% static 'tracksite/css/profile.css' %}>
    {% endif %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracksite/css/result.css' %}"/>
{% endblock %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/tracksite/query" id="query_form" method="post">
            {% csrf_token %}
            <div class="form-group input-group">
                <input type="text" class="form-control" name="track_num"
                       placeholder="Enter your tracking number here to start track!">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Track</button>
                </span>
            </div>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading"><span class="label label-danger">Error</span></div>
            <div class="panel-body">
                Sorry, the requested information is not available.
            </div>
        </div>
        <br>
        <br>
        <br>
        <div style="text-align: center;">{% load static %}
        <img width="600" alt="logo2" src="{% static 'tracksite/logo/logo2.png' %}"/></div>
    </div>
    <div class="col-md-2"></div>
    <div class="panel panel-info" id="history-panel">
        <div class="panel-heading" id="history-heading">Search History</div>
        <div class="panel-body">
            <div id="history-list">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
    {% load static %}
    <script src={% static 'tracksite/js/utility.js' %}></script>
{% endblock %}